body {
    user-select: none;
}

.container {
    background: #4286f4;
    width: 500px;
    padding: 1rem;
}

.list-item {
    background: #8bb3f4;
    border: 1px solid #fff;
    margin: 1px 0;
    padding: 0.5rem;
}

.list-item.active {
    background: #ff6f00;
}

.dragging {
    opacity: 0.4;
}
